<div class="email-container">
  <h2>{{ title }}</h2>
  <div class="email-input-container">
    <input type="text" placeholder="Subject" [(ngModel)]="subject" name="subject">
    <textarea placeholder="Message" [(ngModel)]="message" name="message"></textarea>
    <button (click)="sendEmail()">Send Email</button>
  </div>
  <br/>
  <div class="card-body">
    <button class="btn btn-outline-secondary"
            style="width: 100px"
            (click)="onBack()">
      <i class="fa fa-chevron-left"></i> Back
    </button>
  </div>
</div>
