<div class='card'>
  <div class='card-body'>

    <div class='row justify-content-center'>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]='listFilter' class='form-control' placeholder="Filter By" />
      </div>
    </div>

    <div class='table-responsive-vehicles'>
      <table class='table' *ngIf='filteredVehicles.length'>

        <thead>
          <tr>
            <th>
              <button class='btn btn-primary' (click)='toggleImage()'>
                {{showImage ? 'Hide' : 'Show'}} Image
              </button>
            </th>
            <th>Vehicle</th>
            <th>Type</th>
            <th>Reservation Type</th>
            <th>Price</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let vehicle of filteredVehicles" class="align-items-center">
            <td class="align-middle">
              <img
              *ngIf="showImage"
              [src]="vehicle.ImageUrl"
              [alt]="vehicle.Name"
              [style.width.px]="imageWidth"
              [style.margin.px]="imageMargin"
              class="img-fluid">
            </td>
            <td class="align-middle">
              <a [routerLink]="['/page-details', vehicle.Id]">{{ vehicle.Name }}</a>
            </td>
            <td class="align-middle">{{ vehicle.Type }}</td>
            <td class="align-middle">{{ vehicle.ReservationType }}</td>
            <td class="align-middle">{{ vehicle.Price | currency:'USD':'symbol':'1.2-2' }}</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
