<div class='card'>
  <div class='card-body'>

    <div class='row justify-content-center'>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]='listFilter' class='form-control' placeholder="Filter By" />
      </div>
    </div>

    <div class='table-responsive-vehicles'>
      <table class='table' *ngIf='filteredVehicles.length'>

        <thead>
          <tr>
            <th>
              <button class="btn-showImage btn btn-primary" (click)="toggleImage()">
                <mat-icon *ngIf="showImage" class="arrow-icon">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="!showImage" class="arrow-icon">keyboard_arrow_right</mat-icon>
              </button>
            </th>
            <th>Vehicle</th>
            <th>Type</th>
            <th>Reservation Type</th>
            <th>Price</th>
            <th *ngIf="isLoggedIn()">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let vehicle of filteredVehicles" class="align-items-center">
            <td class="align-middle">
              <ng-container *ngIf="showImage">
                <img
                  [src]="vehicle.imageUrl"
                  [alt]="vehicle.name"
                  [style.width.px]="imageWidth"
                  [style.margin.px]="imageMargin"
                  class="img-fluid">
              </ng-container>
            </td>
            <td class="align-middle">
              <a [routerLink]="['/page-details', vehicle.id]">{{ vehicle.name }}</a>
            </td>
            <td class="align-middle">{{ vehicle.type }}</td>
            <td class="align-middle">{{ vehicle.reservationType }}</td>
            <td class="align-middle">{{ vehicle.price | currency:'USD':'symbol':'1.2-2' }}</td>
            <td class="align-middle" *ngIf="isLoggedIn()">
              <button class="btn btn-primary" (click)="openBookingDialog(vehicle.id, vehicle.name)">Book</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
