@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";

div.card-header {
  font-size: large;
}

div.card {
  margin-top: 10px;
}

div.table {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

div.table-responsive-vehicles {
  margin-left: -10px;
}

thead.thead-dark{
  background-color: navy;
  color: white;
}
