<div class="card">
  <div class="col-md-6">
    <div *ngIf="activeBookings.length > 0">
      <h2>Active Bookings</h2>
      <div *ngFor="let booking of activeBookings" class="booking-item">
        <div class="booking-details">
          <div class="booking-info">
            <div class="booking-image">
              <img
                *ngIf="getVehicleImageUrl(booking.vehicleId)"
                [src]="getVehicleImageUrl(booking.vehicleId)"
                [alt]="getVehicleName(booking.vehicleId)"
                [style.width.px]="imageWidth"
                [style.margin.px]="imageMargin"
                class="img-fluid">
              <span *ngIf="!getVehicleImageUrl(booking.vehicleId)">Image Not Available</span>
            </div>
            <div class="booking-text">
              <p><strong>Vehicle:</strong> {{ getVehicleName(booking.vehicleId) }}</p>
              <p><strong>Booking Date:</strong> {{ booking.startDate | date: 'dd-MMM-yyyy hh:mm' }}</p>
              <p><strong>End Date:</strong> {{ booking.endDate | date: 'dd-MMM-yyyy hh:mm' }}</p>
              <p><strong>Price: </strong>{{ booking.totalPrice }}</p>
            </div>
          </div>
        </div>
        <br/>
        <button class="btn btn-success" (click)="cancelBookingOfVehicle(booking)">Cancel Booking</button>
      </div>
    </div>
  </div>
</div>

<footer class="card-footer text-center mt-3">
  <div class="card-body">
    <button class="btn btn-outline-secondary"
            style="width: 100px"
            (click)="onBack()">
      <i class="fa fa-chevron-left"></i> Back
    </button>
  </div>
</footer>
