<div class="card">
  <div class="card-body">
    <h1>{{ title }}</h1>
    <div *ngFor="let user of users">
    <div class="user-info">
      <span>{{ user.FirstName }} {{ user.LastName }}</span>
      <br/>
      <br/>
      <button class="btn btn-primary" (click)="getChatByUserId(user.Id)">View Chat</button>
    </div>
  </div>
  </div>
</div>

<footer class="card-footer text-center mt-3">
  <div class="card-body">
    <button class="btn btn-outline-secondary"
            style="width: 100px"
            (click)="onBack()">
      <i class="fa fa-chevron-left"></i> Back
    </button>
  </div>
