div.body{
  background-color: mediumaquamarine;
  color: white;
  font-style:inherit;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

div.auth{
  display: flex;
  align-items: flex-start;
  padding-top: 9px;
  margin-right: 10px;
  justify-content: space-between;
  gap: 5px;
}

h1.titleText{
  margin-left: 500px;
}
