<div class="chat-container">
  <h2>{{ title }}</h2>
  <div class="chat-messages-container" #messageContainer>
    <div *ngIf="reversedMessages.length > 0; else noMessages" class="message-list">
      <div *ngFor="let msg of reversedMessages"
           [ngClass]="{'message-item-sent': msg.senderId === 'replace with fetched userId', 'message-item-received': msg.senderId !== 'replace with fetched userId'}">
        <div class="message-header">
          <strong>{{ msg.sender }}</strong>
        </div>
        <p>{{ msg.message }}</p>
      </div>
    </div>
    <ng-template #noMessages>
      <p>No messages available.</p>
    </ng-template>
  </div>
  <div class="chat-input-container">
    <textarea placeholder="Type your message here" [(ngModel)]="message" name="message"></textarea>
    <button (click)="sendMessage()">Send</button>
  </div>
  <div class="card-body">
    <button class="btn btn-outline-secondary" style="width: 100px" (click)="onBack()">
      <i class="fa fa-chevron-left"></i> Back
    </button>
  </div>
</div>
